<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="StyleSheet.css">
</head>
<body>


  <div class="Navbar">
	<a href=#home> Test </a>
	<div class="Navbar-dropdown">
  	<button class="dropbtn">Test Dropdown</button>
    	<div class="Navbar-dropdown-content">
      	<a href = #home> test </a>
    	</div>
	</div>
  </div>

<div class="Login-Box-Container">
<div class = "Login-Box" >
  <div class = "Login-Box-Top">
	<div class="Form-Titles">
  	Registration
	</div>
  </div>
  	<form action="index.html">
   	<div class ="Column-1">
      	<label for ="Email"> First Name </label>
      	<input type="text" id="fname" name="firstname" placeholder="Your First Name Here">
      	<label for ="Email"> Email </label>
      	<input type="text" class="half-box" placeholder="Your Email Here">
      	<label for ="Password"> Password</label>
      	<input type="text" placeholder="Your Password Here">
      	<input type="submit" value="Submit" >
    	</div>
  	</form>
</div>
</div>
</body>
</html>
