@{
    ViewBag.Title = "NotFound";
}

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Not found</h2>

    <div>
        <p>Employee not found.</p>
    </div>



</asp:Content>