body {
    /*background-color: #b59a57;*/
    background-image: url(/assets/img/clock.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-color: #e8ebf5;
}

.Column-Button-Box{
  flex: 50%;
  padding: 10px;
  height: 500px;
}

.Row-Button-Box{
  display:flex;
}

/*.db-Button-Box {
    height: 200px;
    width: 400px;
    background-color: #333;
    margin: auto;
    margin-top: 5%;
    border-radius: 1px;
}

    .db-Button-Box:hover {
        border-radius: 25px;
        cursor: pointer;
    }*/

.db-Column-Button-Box {
    flex: 50%;
    padding-left: 15%;
    height: 500px;
}

.db-Row-Button-Box {
    display: flex;
}

.Login-Box-Top{
	width: 100%;
	height: 70px;
	border-radius: 25px 25px 25px 25px;
	background-color: black;
	position: relative;
}

.Login-Box-Container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-Box {
    width: 600px;
    height: auto;
    position: absolute;
    top: 15%;
    border-radius: 25px 25px 25px 25px;
    background-color: #333;
    box-shadow: 0 0 20px #000;
}

.Column-1{
  padding:20px;
}
.Form-Titles{
  /*margin-left: 20px;*/
  padding: 13px;
  color:white;
  font-size: 40px;
  font-family: Noto Sans, sans-serif;
}

.input-type {
    width: 50%;
    padding: 12px 10px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=text], select {
  width: 400px;
  padding: 12px 10px;
  margin: 15px 0;
  margin-left: 100px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type=email], select {
    width: 400px;
    padding: 12px 10px;
    margin: 15px 0;
    margin-left: 100px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=password] {
	font: small-caption;
	width: 400px;
	padding: 12px 10px;
	margin: 15px 0;
    margin-left: 100px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-sizing: border-box
}

textarea {
    font: small-caption;
    width: 400px;
    padding: 12px 10px;
    margin: 15px 0;
    margin-left: 100px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box
}

input[type=submit] {
    width: 400px;
    background-color: #b59a57;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    margin-left: 100px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
}

    input[type=submit]:hover, input[type=submit]:active {
        background-color: #b59a57;
        box-shadow: 0 0 15px #231C01;
        color: white;
    }

input[type=checkbox] {
    width: 220px;
    background-color: #b59a57;
    color: white;
    margin: 10px 0; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
}

label {
	color: black;
	font-size: 20px;
	font-family: Noto Sans, sans-serif;
}

.label {
	color: white;
	font-size: 20px;
	font-family: Noto Sans, sans-serif;
    padding-left: 20px;
    padding-top:15px;
}

.smalltext {
    color: white;
    font-size: 15px;
    font-family: Noto Sans;
    padding: 20px;
}

.form-Labels{
    color: black;
    font-size: 20px;
    font-family: Noto sans-serif, sans-serif;
}

.Navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 1px;
}

.Navbar a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
}

.Navbar-dropdown {
  float: left;
  overflow: hidden;
}

.Navbar-dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Navbar a:hover, .Navbar-dropdown:hover .dropbtn {
  background-color: #D3BD09;
}

.Navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Navbar-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.Navbar-dropdown-content a:hover {
  background-color: #ddd;
}

.Navbar-dropdown:hover .Navbar-dropdown-content {
  display: block;
}

.Landing-Box-Container {
    width: 100%;
    position: relative;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
    /*height: ;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
}

.Landing-Box {
    width: 550px;
    height: 350px;
    position: relative;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 25px 25px;
    background-color: #333;
    box-shadow: 0 0 20px #000;
}

.Landing-Page-Buttons {
    background-color: #b59a57;
    border: 1px solid transparent;
    padding: 2.75rem 1.75rem;
    font-size: 1.53rem;
    height: 10rem;
    width: 12rem;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

    .Landing-Page-Buttons h2 {
        text-align: center;
        align-items: center;
        justify-content: center;
        /* margin-top: 50%;
        margin-bottom: 50%; */
        color: white;
        font-family: Noto, sans-serif;
        font-size: 1.5rem;
    }

    .Landing-Page-Buttons:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px /*#D3BD09*/#000;
        border-radius: 1.25rem;
        width: 12.15rem;
        height: 10.15rem;
    }

.Landing-Page-Buttons-sm {
    background-color: #b59a57;
    border: 1px solid transparent;
    padding: 1rem 1.75rem;
    font-size: 1.05rem;
    height: 5rem;
    width: 8rem;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
    .Landing-Page-Buttons-sm:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px /*#D3BD09*/ #000;
        border-radius: 1.25rem;
        width: 8.15rem;
        height: 5.15rem;
    }

.small-button {
    border-radius: 4px;
    background-color: #333;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5px;*/
    height:50px;
}
    .small-button h2 {
        text-align: center;
        margin-top: 15%;
        color: white;
        font-family: Noto, sans-serif;
        font-size: 15px;
    }
    .small-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .small-button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 15px;
            right: -20px;
            transition: 0.5s;
        }

    .small-button:hover span {
        padding-right: 25px;
    }

        .small-button:hover span:after {
            opacity: 1;
            right: 0;
        }

.db-Page-Buttons {
    border-radius: 4px;
    background-color: #333;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5px;*/
    height: 75px;
}

    .db-Page-Buttons h2 {
        color: white;
        font-family: Noto, sans-serif;
        font-size: 23px;
    }

    .db-Page-Buttons span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .db-Page-Buttons span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 10px;
            font-size:30px;
            /*right: -20px;*/
            right:-150px;
            transition: 0.5s;
        }

    .db-Page-Buttons:hover span {
        padding-right: 25px;
    }

        .db-Page-Buttons:hover span:after {
            opacity: 1;
            right: 0;
        }

.Form-Box-Container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form-Box {
    width: 600px;
    height: auto;
    position: absolute;
    top: 15%;
    border-radius: 25px 25px 25px 25px;
    background-color: #333;
}
/*.db-Page-Buttons {
    position: absolute;
    height: 200px;
    width: 350px;
    background-color: #333;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

    .db-Page-Buttons h2 {
        text-align: center;
        margin-top: 25%;
        color: white;
        font-family: Noto, sans-serif;
        font-size: 23px;
    }

    .db-Page-Buttons:hover {
        /*color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px #D3BD09;
        border-radius: 0;
        width: 375px;
        height: 225px;
    }*/