@using GrizzTime.Models
@model business

@{
    ViewBag.Title = "Dashboard";
    var thisBusinessName = Request.Cookies["BusinessName"].Value;
    var thisBusinessID = Request.Cookies["UserID"].Value;
}

<h2>Business Dashboard</h2>


    <div class="form-horizontal">
        <h4>Business Login - @thisBusinessName</h4>
        <hr />

            @Html.AntiForgeryToken()
            @using (Html.BeginForm())
            {

                @Html.Action("AddEmployeePopUp")
            }

    </div>

<div>
    <p><a href="/home/index">Back to Home &raquo;</a></p>
</div>
