
@{
    ViewBag.Title = "Deleted";
}

<h2>Deleted</h2>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Temporary page until javascript messages are implemented.</h2>

    <div>
        <p>Your business was successfully deleted.</p>
    </div>

</asp:Content>


<h2>Deleted</h2>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Temporary page until javascript messages are implemented.</h2>

    <div>
        <p>Your business was successfully deleted.</p>
    </div>

</asp:Content>

>>>>>>> GSBranch
