
@{
    ViewBag.Title = "NotFound";
}

<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    Not Found
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Not found</h2>

    <div>
        <p>Your business was not found.</p>
    </div>



</asp:Content>

