@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>GrizzTime Contract Tracking</h1>
    <p class="lead">DCAA (Defense Contract Audit Agency) time tracking is a must for projects working on government contracts on a time and material basis. DCAA-compliant contracts require daily time tracking, precise records with audit trails, reporting, and specific supervisor approvals, in the case of a DCAA audit. GrizzTime is an Oakland University student project that provides these federal entities the means to prepare for audits. </p>
    @*<p><a href="/business/registration" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>*@
</div>
    <div class="Row-Button-Box">
        <div class="Column-Button-Box">
            <a href="/Business/Registration"><div class="Button-Box"></div></a>
        </div>
        <div class="Column-Button-Box">
            <div class="Button-Box"></div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <h2>Oakland University</h2>
                <p>
                    This web application is a Senior Capstone Project for undergraduates of the School of Engineering and Computer Science.
                </p>
                <p><a class="btn btn-default" href="https://oakland.edu/secs">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Already have an account?</h2>
                <p>You can login here.</p>
                <p><a class="btn btn-default" href="/business/login">Login &raquo;</a></p>
            </div>
        </div>
