
@{
    ViewBag.Title = "LandingPage";
}

<link rel="stylesheet" href="~/StyleSheet.css" />

<div class="Login-Box-Top">
    <div class="Form-Titles"> HOME </div>
</div>

<div class="Landing-Box-Container">
    <div class="Landing-Box">
        <div class="Row-Button-Box">
            <div class="Column-Button-Box">
                <a href="~/Business/Login">
                    <div class="Landing-Page-Buttons">
                        <h2>
                            Business Login
                        </h2>
                    </div>
                </a>
            </div>

            <div class="Column-Button-Box">
                <a href="~/Employee/Login">
                    <div class="Landing-Page-Buttons">
                        <h2>
                            Employee Login
                        </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
