
@{
    ViewBag.Title = "LandingPage";
}

<link rel="stylesheet" href="~/StyleSheet.css" />

<h2>LandingPage</h2>
<div class="transition-swipe">
    <div class="Landing-Page-Box">
        <div class="Row-Button-Box">
            <div class="Column-Button-Box">
                <a href="/Business/Login">
                    <div class="Landing-Page-Buttons">
                        <h2>
                            Business Login
                        </h2>
                    </div>
                </a>
            </div>
            <div class="Column-Button-Box">
                <div class="Landing-Page-Buttons">
                    <h2>
                        Employee Login
                    </h2>
                </div>
            </div>
        </div>
        test
    </div>
</div>
